*, *:before, *:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.loginlabel
{
  padding:10px;
}

html, body {
  height: 100%;
}

body {
  font: 1em 'Roboto', sans-serif;
  font-size: 26px;
  color: #555;
  background-color: #fff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url("background.png");
  background-color: rgba(255,255,255,0.85);
  background-blend-mode: soft-light;
  background-size: cover;
}

.header_button{
  padding: 5px;
}
ul {
  list-style: none;
  max-width: 800px;
  margin: 0 auto;
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
}

h1 {
  padding: 3px 0;

  text-align: center;
  font-size: 36px;
}

h3 {
    border: 1px solid #AEB6BF;
      text-align: center;

    padding: 5px;
    width: 275px;
}

nav {
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  background-color: #808B96;
  opacity: 0.8;
  color: #FBFCFC;
}

ul a {
  display: block;
  padding: 20px;
  padding-right: 0 !important; /* important overrides media queries */
  font-size: 16px;
  text-align: center;
  color:  #FBFCFC;
  cursor: pointer;
  text-decoration: none;
}

ul a:hover {
  background: #eee;
}

nav li {
  float: left;
  width: 20%;
  border-right: 1px solid #ddd;
}

nav li:last-child {
  border-right: none;
}

@media only screen and (max-width: 550px) {

  .hamburger {
    padding: 10px;
    display: block;
  }

  .line {
    border-bottom: 4px solid #bbb;
    width: 10px;
    margin-bottom: 6px;
  }

  .line:last-child {
    margin-bottom: 0;
  }

  nav li {
    width: 90%;
  }

  .menu {
    height: 0;
    overflow: hidden;
    transition: height 0.3s linear;
  }

  .slide-down {
    height: 300px;
  }
}

@media (min-width: 600px) {
  .container {
    width: 90%; }
  .column,
  .columns {
    margin-left: 3%; }
  .column:first-child,
  .columns:first-child {
    margin-left: 0; }

  .one.column,
  .one.columns                    { width: 3%; }
  .two.columns                    { width: 12%; }
  .three.columns                  { width: 22%;            }
  .four.columns                   { width: 30.6666666667%; }
  .five.columns                   { width: 39.3333333333%; }
  .six.columns                    { width: 48%;            }
  .seven.columns                  { width: 56.6666666667%; }
  .eight.columns                  { width: 65.3333333333%; }
  .nine.columns                   { width: 74.0%;          }
  .ten.columns                    { width: 82.6666666667%; }
  .eleven.columns                 { width: 91.3333333333%; }
  .twelve.columns                 { width: 100%; margin-left: 0; }

  .one-third.column               { width: 30.6666666667%; }
  .two-thirds.column              { width: 65.3333333333%; }

  .one-half.column                { width: 48%; }

  /* Offsets */
  .offset-by-one.column,
  .offset-by-one.columns          { margin-left: 5%; }
  .offset-by-two.column,
  .offset-by-two.columns          { margin-left: 17.3333333333%; }
  .offset-by-three.column,
  .offset-by-three.columns        { margin-left: 26%;            }
  .offset-by-four.column,
  .offset-by-four.columns         { margin-left: 34.6666666667%; }
  .offset-by-five.column,
  .offset-by-five.columns         { margin-left: 43.3333333333%; }
  .offset-by-six.column,
  .offset-by-six.columns          { margin-left: 52%;            }
  .offset-by-seven.column,
  .offset-by-seven.columns        { margin-left: 60.6666666667%; }
  .offset-by-eight.column,
  .offset-by-eight.columns        { margin-left: 69.3333333333%; }
  .offset-by-nine.column,
  .offset-by-nine.columns         { margin-left: 78.0%;          }
  .offset-by-ten.column,
  .offset-by-ten.columns          { margin-left: 86.6666666667%; }
  .offset-by-eleven.column,
  .offset-by-eleven.columns       { margin-left: 95.3333333333%; }

  .offset-by-one-third.column,
  .offset-by-one-third.columns    { margin-left: 34.6666666667%; }
  .offset-by-two-thirds.column,
  .offset-by-two-thirds.columns   { margin-left: 69.3333333333%; }

  .offset-by-one-half.column,
  .offset-by-one-half.columns     { margin-left: 52%; }

}

fieldset {
    display: table;
}
fieldset p {
    display: table-row;
}
fieldset input,
fieldset select,
fieldset label {
    display: table-cell;
    margin: 3px;
}
fieldset label {
    text-align: right;
}

.dropbtn {
    background-color: #16A085 ;
    color: black;
    padding: 35px;
    font-size: 12px;
    border: none;
    cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
    background-color: #16A085 ;
}
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown a:hover {background-color: #f1f1f1}

.show {display:block;}

.button {
    background-color:#1ABC9C;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: right;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    float: right;
}

.btn{
  margin-left: 100px;
  background-color: #1ABC9C;
}

.btn-info
{
  margin-left: 0px;
}

.container
{
  min-width: 300px;
}

.modal-dialog{
  width: 300px;
}

.btn-primary
{
  margin-left: 50px;
  margin-right: 0px;
}

.btn-info{
  margin-left: 0px;
  padding: 5px;
  width: 25px;
  margin-top: 0px;
  margin-bottom: 10px;
  height: 34px;

}

.btn-primary{
  margin-left: 75px;
  margin-top: 0px;
  margin-bottom: 10px;
}

.btn-default{
  margin-bottom: 10px;
  background-color: white;
  border: 2px solid #1ABC9C;
}

.button_2{
    border-radius: 5px;
    color: #5D6D7E ;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin-left: 90px;
    background-color: #ABEBC6;
    width: 70px;
    height: 34px;
    font-family: Arial;
    font-size: 16px;
    font-weight: 100;
    box-shadow: 0 1px 0 rgba(255,255,255, 0.3), inset 0 1px 0 rgba(255,255,255, 0.3);
}

.button_3{
  border-radius: 5px;
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: #85929E;
  width: 70px;
  height: 34px;
  font-family: Arial;
  font-size: 16px;
  font-weight: 100;
  box-shadow: 0 1px 0 rgba(255,255,255, 0.3), inset 0 1px 0 rgba(255,255,255, 0.3);
}

.button_4{
  border-radius: 5px;
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  text-align: center;
  margin-top: 10px;
  margin-left: 90px;
  margin-bottom: 10px;
  background-color: #34495E  ;
  width: 70px;
  height: 34px;
  font-family: Arial;
  font-size: 16px;
  font-weight: 100;
  box-shadow: 0 1px 0 rgba(255,255,255, 0.3), inset 0 1px 0 rgba(255,255,255, 0.3);
}




.modal-footer{
  height: 55px;
  padding: 10px;
}

.modal-header{
  border-bottom: 0px;
}


.button_2:hover {
   background: #D1E4ED;
   text-decoration: none;
}
